


.centered_container {


 margin: auto auto;
 gap: 10px;

}


.game_embed {
width: 100%;
  height: 100%; /* or any height you want */
  border: none;
  display: flex;
  overflow: hidden;
}


canvas {
  width: 50%;
  height: 50%;
  margin: auto auto;
  display: block;
}


.iframe_wrapper{
  background-color: black;
  max-width: 85dvh;
  height: 50dvh;
  border: none;
  overflow:visible;
  box-sizing:content-box;
  margin: auto auto;
  display:flex;

}



.centered_play_button {

  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-attachment:local; 
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border:0cap;
  color: rgb(33, 5, 59);
  text-align: center ;
  text-decoration: none;
  display: inline-block;
  width: 15vh;
  height: 6vh;
  font-size: 2vh;
  font: bold;
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));

  margin: 0 auto;

  display:block;
}


.minigames_top_buttons_container {
  display: flex;
  flex-wrap:wrap;
  margin: 0 auto;
  width: 87dvh;
}


.top_minigames_buttons {
  flex: 1 1 0;
  min-width: 0;
  max-width: 40dvh;
  height: 5vh;
  margin: 0 1vh;

  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: rgb(33, 5, 59);
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  font-family: 'MouldyCheese';
  align-self: center;
  
}


.top_minigames_buttons:disabled {
  flex: 1 1 0;
  min-width: 0; 
  height: 5vh;
  margin: 0 1vh;
  max-width: 40dvh;

  background-image: url("../assets/main_page_assets/buttom_monochrome.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: rgb(74, 67, 80);
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
  cursor:not-allowed;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  font-family: 'MouldyCheese'
}


.top_minigames_toggles{
  flex: 1 1 0;
  min-width: 0;
  max-width: 10dvh;
  height: 2.5vh;
  margin: 0 1vh;

  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: rgb(33, 5, 59);
  text-align: center;
  text-decoration:none;
  font-size: 1.5vh;
  font-weight:normal;
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  font-family: 'MouldyCheese';
  align-self:self-end;
  
}



#GamePlayer {
  position: relative;
  z-index: 1;
  display: block;  /* Avoid display: none initially */
}


.card-container {
    display: contents;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.card {
    flex: 1 1 200px;
    max-width: 150px;
    background-color: rgba(245, 245, 220, 0.918);
    border: 2px solid rgba(100, 148, 237, 0.815);
    border-radius: 15px;
    padding: 0.25% 1.5%;
    box-sizing:content-box;
    word-wrap: break-word;
    cursor: pointer;

}

.card:disabled {
    flex: 1 1 200px;
    max-width: 150px;
    background-color: rgba(245, 245, 220, 0.918);
    border: 2px solid rgba(100, 148, 237, 0.815);
    border-radius: 15px;
    padding: 0.25% 1.5%;
    box-sizing:content-box;
    word-wrap: break-word;
    cursor: not-allowed;

}


.card img {
    max-width: 150px;
    height: 150px;
    object-fit:contain;
}

.card p {
    font-family: 'MouldyCheese';
    padding: 10px;
    font-size: 1rem;
}