
html {
  font-size: clamp(12px, 1.5vw, 18px);
}


.main_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center; 
}



.news_background {
  position: relative;
  background-color: rgba(245, 245, 220, 0.918);
  border: 2px solid rgba(100, 148, 237, 0.815);
  border-radius: 15px;
  padding: 1.5rem;
  box-sizing: border-box;
  word-wrap: break-word;
}

.news_background .date {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #333;
  opacity: 0.8;
}

.news_background .info {
  font-size: 2.15rem;
  color: #000000;
  opacity: 1.0;
}




.base_image {
    max-width: 45vh;
    max-height: 45vh;
    display: block;
}


.new_image {
  height: auto;
  width: clamp(150px, 20%, 200px);
  display: block;
  margin-bottom: 0.5rem;
}


.scroll_area {
  flex: 1;
  overflow-y: auto;
  max-height: clamp(40vh, 60vh, 80vh);
  width: 100%;
  padding: 0.5rem;
}


.sub_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  flex: 1;
}



.play_button {
  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  text-align: center;
  padding: 0.5rem 1rem;
  width: clamp(120px, 20vw, 240px);
  height: clamp(30px, 6vh, 50px);
  font-size: clamp(0.8rem, 2vh, 1.4rem);
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1.25rem;
  color: #000000;
  opacity: 1.0;
  font-family: 'MouldyCheese'
}

.play_button:hover {
  color: rgb(107, 45, 164);
}



