
.main_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center; /* Center bodybg horizontally */
}



.news_background {
  background-color: rgba(245, 245, 220, 0.918);
  border: 2px solid rgba(100, 148, 237, 0.815);
  border-radius: 15px;
  width: 100%;
  padding: 0.25% 1.5%;
  box-sizing: border-box;
  word-wrap: break-word;
}



.base_image {
    max-width: 45vh;
    max-height: 45vh;
    display: block;
}


.new_image {

    height: 8vh;

}


.scroll_area {
  flex: 1;
  overflow-y: auto;
  max-height: 65vh;
  width: 100%;
}

.sub_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  flex: 1;
}



.play_button {

  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-attachment:local; 
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border:0cap;
  color: rgb(33, 5, 59);
  text-align: center ;
  text-decoration: none;
  width: 20vh;
  height: 3vh;
  font-size: 2vh;
  font: bold;
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  font-family: 'MouldyCheese';
  margin: 0 auto;

  display:contents;
}


.play_button:hover {

  background-image: url("../assets/main_page_assets/button.svg");
  background-repeat: no-repeat;
  background-attachment:local; 
  background-size: 100%;

  border:0cap;
  color: rgb(107, 45, 164);
  text-align: center ;
  text-decoration: none;
  width: 20vh;
  height: 3vh;
  font-size: 2vh;
  font: bold;
  cursor: pointer;
  filter: drop-shadow(5px 0px 2px rgba(20, 7, 192, 0.24));
  font-family: 'MouldyCheese';
  margin: 0 auto;

  display:contents;
}



